body,html{
    background: url('../images/background.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
}

*{
    padding: 0;
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div#navbar{
    display: block;
    width: calc(100% - 10rem);
    background-color: rgba(255, 255, 255, 0.75);
    margin-left: auto;
    margin-right: auto;
    padding: 5rem;
}
div#navbar h1{
    font-size: calc(3vw + 3vh);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
div#navbar h2{
    font-size: calc(2vw + 2vh);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
div#navbar h3{
    font-size: calc(1vw + 1vh);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
div#buttonPanel{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-evenly;
}
div#buttonPanel button{
    background-color: black;
    color: white;
    border: none;
    padding: 1rem;
    width: 20rem;
    border-radius: 10rem;
}
div#buttonPanel button:hover{
    background-color: white;
    color: black;
    font-weight: bolder;
}
div.content{
    display: block;
    width: 40%;
    margin-top: 2vw;
    background-color: rgba(255, 255, 255, 0.75);
    height: 18vw;
    padding: 2rem;
    border-radius: 1rem;
}
ol{
    margin-left: 20%;
}
div.content h2{
    font-size: calc(1vw + 1vh);
    margin-bottom: 0.5vh;
}
div.content p, li{
    /* font-size: calc(0.25rem + 1.25vw); */
    font-size: calc(0.95vw + 0.95vh);
}
div.content a, li.link{
    font-size: calc(0.9vw + 0.9vh);
}
div.left{
    margin-left: 5%;
    margin-right: 65%;
}
div.right{
    margin-left: 50%;
    margin-right: 5%;
}
div:last-of-type{
    margin-bottom: 3rem;
}
div#bigContent{
    display: block;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.75);
    margin-top: 2vw;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    border-radius: 1rem;
}

@media only screen and (max-width: 800px) {
    div.content{
        display: block;
        width: 50%;
        margin-top: 2vw;
        background-color: rgba(255, 255, 255, 0.75);
        height: 18vw;
        padding: 2rem;
        border-radius: 1rem;
    }
    div.left{
        margin-left: 5%;
        margin-right: 65%;
    }
    div.right{
        margin-left: 35%;
        margin-right: 5%;
    }
}